#profile > p { margin: 0;}
#profile-pic { grid-area: profile-pic; max-height: 200px; }
#profile-first { grid-area: profile-first; 	display: flex; align-items: center; /* align vertical */}
#profile-post { grid-area: profile-post; }

#profile {
	display: grid;
	grid-template-areas:
		'profile-pic profile-first'
		'profile-post profile-post';
	gap:25px;
}
